# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
/bin/game.exe
*.out
*.app

# IDE shit(vscode)
*.pdb
bin/*.pdb
*.obj
bin/*.ilk
bin/*

# CMake shit
build/
Debug/
Release/
CMakeFiles/
x64/
x86/
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
cmake_install.cmake
CMakeCache.txt
game.sln
game.vcxproj
game.vcxproj.filters
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters